
<div class="image-gallery">
    <% for image in images %>
        <%= render "components/image-caption", :src => url_for(image), :caption => image_caption_formatter(image.filename.to_s) || "article image" %>
    <% end %>
</div>
