<div class="categories-section">
	<div class="<%= "category-heading category-heading-#{@category.name}" %>">
		<%= @category.name %>
	</div>

	<div class="vertical">
		<% @articles.each do |article| %>
			<%= render partial: "components/full", locals: { article: article, category: false } %>
		<% end %>
	</div>
</div>
