<div class="about-us">
  <h3 class="font-bold text-4xl">About Us</h3>
  <p>Pixel Wave is a blog that shares information about new releases in Video Games and movies, we also publish articles related to Science and Technology. Our readers are people who want to inform themseves on a deeper level about their favourite media.</p>

  <p>Sebastián Muñoz is the owner and writer of the blog, he is a Software Developer and avid gamer who has created this blog as a way to share hits knowledge and opinions on diverse topics.</p>

  <p>We aim to grow this website to enable new authors and topics to be published growing the Pixel Wave Network with new readers. </p>
</div>
