
<p class="notice" style="color: green"><%= notice %></p>

<div style="justify-items: center;">
    <div id="">
      <% @articles.each do |article| %> 
        <%= render article %>
      <% end %>
    </div>
</div>
