<p>
    The trailer for the upcoming <strong>Final Fantasy XIV Patch 7.5</strong> has been released featuring new MSQ quests, a new trial, the last Alliance Raid of this expansion, beastmaster updates and a surprise at the end with several other updates.
</p>

<h3>Release Date</h3>

<iframe src="https://www.youtube.com/embed/pRmrgeTscbc" title="Final Fantasy XIV Patch 7.5 Official Trailer" ></iframe>
<p>
    Patch 7.5 official trailer
</p>

<p>
    The patch is set to release on April 28th 2026
</p>


<h3>New Trial</h3>
<p>
    Patch 7.5 will feature a new trial, pitting players against a fearsome foe in both Normal and Extreme difficulties. This trial promises epic rewards and a test of teamwork and skill.
</p>

<h3>New Alliance Raid</h3>
<p>
    Dawntrail's Alliance Raid Series, inspired by the lore of FFXI
</p>

<h3>A surprise at the end</h3>
<p>
    The trailer also teases the upcoming Ultiamte Raid encounter
</p>

<a href="https://na.finalfantasyxiv.com/dawntrail/patch_7_5/" title="Final Fantasy XIV Patch 7.5 Official Website">Official patch website</a>