<style>
  @media (max-width: 500px) { /* Target devices with a width of 768px or less */
    .main-section {
      display: block; /* Forces the section to stack vertically */
      width: 100%; /* Ensures it takes up the full width */
    }
  }
</style>

<div style="justify-items: center;" class="page">

  <div class="page-articles">

    <div class="categories-section">
      <% @categories.each do |category| %>
        <div class="<%= "category category-heading category-heading-#{category.name}" %>">
          <%= link_to "#{category.name}", "/category/#{category.name}" %>
          </div>
        <div class="vertical">
          <% category.articles.order(created_at: :desc).slice(0,2).each do |article| %>
            <%= render partial: "common/thumb", locals: { article: article, category: false } %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="main-section">
      <div class="vertical">
        <%= render partial: "common/article-partial-list", locals: { articles: @articleSearch ? @articleSearch : @articles.slice(0, 5) } %>
      </div>
    </div>
  </div>
</div>