.author-box {
    font-weight: bold;
    padding: 15px;
    justify-self: right;
}

.image-box {
    border: 1px solid grey;
    padding: 5px;
    background-color: white;
    justify-items: center;
    margin: 15px;
}

.image-box-thumb {
    border: 1px solid grey;
    padding: 5px;
    background-color: white;
    width: 200px;
    height: 200px;
    justify-items: center;
}

[id*="article_"] {
    padding: 15px;
    justify-items: center;
    margin: 15px;
    max-width: 80%;
    text-transform: capitalize;
}

.article-heading {
    word-wrap: break-word;
    justify-self: center;
    font-weight: bold;
    font-size: larger;
    margin: 15px;
}

.article-body {
    max-width: 100% !important;
    text-align: justify;
    padding: 15px;
    overflow: hidden;
    max-height: 100px;
    overflow-y: scroll;
    text-transform: none;
}

.caption {
    justify-self: center;
    color: rgb(137, 137, 137);
    display: inline-block;
}

.author {
    width: 150px;
    height: 150px;
}

.top-image {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

a{
    font-weight: bold;
}

.date-field {
    padding: 5px;
}

