.author-box {
    font-weight: bold;
    justify-self: right;
}

.image-box {
    border: 1px solid grey;
    padding: 5px;
    background-color: white;
    justify-items: center;
    margin-bottom: 15px;
    width: 98%;
}

.image-box-thumb {
    border: 1px solid grey;
    padding: 5px;
    background-color: white;
    width: 200px;
    height: 200px;
    justify-items: center;
}

[id*="article_"] {
    padding: 5px;
    justify-items: center;
    margin-bottom: 15px;
    max-width: 80%;
}

.article-heading {
    word-wrap: break-word;
    justify-self: center;
    font-weight: bold;
    font-size: larger;
}

.trix-content {
    text-align: justify;
}

.single-article .article-body{
    font-style: italic;
    font-size: 15px;
}

.article-body {
    max-width: 100% !important;
    text-align: justify;
    overflow: hidden;
    max-height: 100px;
    overflow-y: scroll;
    text-transform: none;
    margin-top: 15px;
}

.caption {
    justify-self: center;
    color: rgb(137, 137, 137);
    display: inline-block;
}

.author {
    width: 150px;
    height: 150px;
}

.top-image {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

a {
    font-weight: bold;
}

h3 {
    margin: 15px 0;
}

span {
    &.tomato {
        color: rgba(255, 99, 71, 1);
    }

    &.medium-sea-green {
        color: rgba(60, 179, 113, 1);
    }

    &.steel-blue {
        color: rgba(70, 130, 180, 1);
    }
    
    &.goldenrod-yellow {
        color: rgba(255, 204, 0, 1);
    }

    &.dark-orchid {
        color: rgba(153, 50, 204, 1);
    }

    &.khaki {
        color: rgba(240, 230, 140, 1);
    }

    &.green {
        color: rgba(0, 128, 0, 1);
    }

    &.organge {
        color: rgba(255, 165, 0, 1);
    }

    &.purple {
        color: rgba(128, 0, 128, 1);
    }

    &.semi-transparent-black {
        color: rgba(0, 0, 0, 0.7);
    }
}

iframe {
    width: 100%;
    height: 400px;
}