.category-tab {
    padding: 10px;
    margin: 2px;
    .category {
        font-size: 1.5rem;
        text-transform: capitalize;
        display: inline;
        padding: 2px;
        margin-top: 0;
        &:first-child {
            border: none;
        }
    }
}

@media (max-width: 900px) { /* Target devices with a width of 768px or less */
    .category-tab {
        display: flex; /* Use flexbox to align items horizontally */
        max-width: 100%;
        overflow-x: auto; /* Enable horizontal scrolling */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS devices */
        gap: 10px; /* Add spacing between categories */
    }

    .category-tab .category-heading {
        flex: 0 0 auto; /* Prevent items from shrinking */
        text-align: center;
    }
}
