.full {
    max-width: 440px;
    .author-box {
        margin-top: -40px;
    }

    .image-box {
        display: flex;
    }

    .date-category-box {
        justify-self: left;
        .date-field {
            a {
                font-weight: lighter;
            }
            display: inline-block;
        }

        .category {
            display: inline-block;
        }
    }

    .excerpt {
        font-size: 15px;
        font-style: normal;
        margin-top: 20px;
    }

    .arrow-right {
        display: inline-block;
        width: 0; 
        height: 0; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        
        border-left: 10px solid;
    }

    .date-category-box {
        margin-bottom: 15px;
    }

    .article-heading {
        margin-bottom: 15px;
    }

    h3 {
        font-size: 20px;
    }
}

.full .article-body {
    max-height: 100px;
}

.category-lifestyle {
    color: green;
}

.category-tech {
    color: darkblue
}

.category-video-games {
    color: darkgoldenrod
}

.category-books {
    color: brown;
}

.category-comics {
    color: darkred;
}

.category-entertainment {
    color: darkmagenta
}

.category-movies {
    color: darkcyan
}