/*
 *= require font-awesome
 */
/* page wide styles */

@import url(_constants.css);
@import url(_author.css);


a {
    text-decoration: none;
    color: inherit
}

.left {
    max-height: 500px;
    width: 500px;
    margin: 15px;
    display: inline-block;
    border-right: solid 2px black;
}

.main {
    width: 30%;
    display: block;
}

.top-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
    justify-self: center;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 15px;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(90deg, rgba(36, 27, 0, 1) 0%, rgba(222, 152, 63, 1) 22%, rgb(145, 145, 145) 91%);
    border-image-slice: 1;

    img {
        object-fit: cover;
        max-width: 500px;

        @media (width <= 900px) {
            max-width: 300px;
        }
    }

    h1 {
        text-align: center;
        margin: 5px;
        background: linear-gradient(90deg, rgba(36,27,0,1) 0%, rgba(222,152,63,1) 22%, rgb(145, 145, 145) 91%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        a {
            background: repeating-linear-gradient(to right, rgba(90, 90, 90, 0.2) 2px, transparent 10px), repeating-linear-gradient(to bottom, rgba(90, 90, 90, 0.2) 2px, transparent 10px);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    h2 {
        border-bottom: 0;
    }

    .categories-search {
        display: flex;
        
        .search-bar {
            align-self: end;
            max-height: 100px;
            position: absolute;

            top: 20px;
            right: 20px;

            @media (width <= 900px) {
                right: -80px;
                top: 117px;
            }

            input {
                background: var(--theme-gradient);
                color: var(--gray-100);
            }
        }
    }
}

@media (width <= 900px) {

    .top-banner, .search-bar {
        display: block;
        width: 100%;
        padding: 2px;
        h1.main-title {
            margin: 0;
            padding: 0;
            font-size: 30px;
        }
    }

    .categories-search {
        display: flex;
        flex-direction: column;
        align-items: center;

        .search-bar {
            justify-items: center;
        }
    }
}

.about-us {
    font-size: 1.7rem;
    padding: 15px;

    h3 {
        margin-top: 0;
    }

    p {
        font-size: 15px;
    }
}

.page {
    background-size: 40px 40px;
    background-position: -19px -19px;
}

.page-articles {
    display: inline-flex;

    @media (width <= 900px) {
        flex-direction: column-reverse;
        justify-self: center;
    }
}

.page {
    justify-self: center;
}
p
* {

    /* Custom scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {
        width: 10px; /* Width of the scrollbar */
        height: 10px; /* Height of the scrollbar (for horizontal scrollbars) */
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgba(222, 152, 63, 1); /* Custom scrollbar color */
        border-radius: 5px; /* Rounded corners */
    }
    
    ::-webkit-scrollbar-track {
        background-color: transparent; /* Hide scrollbar background */
    }
    
    /* Custom scrollbar for Firefox */
    * {
        scrollbar-width: thin; /* Thin scrollbar */
        scrollbar-color: rgba(222, 152, 63, 1) transparent; /* Thumb color and track color */
    }
}

.about-us {
    justify-items: center;
    justify-self: center;
    max-width: 700px;
}

textarea {
    width: 100%;
    height: 200px;
}

.article-excerpt {
    color: var(--gray-600);
    font-style: italic;
}

.columns {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    &.article-columns {
        width: 50%;
    }
}

.reversed {
    justify-self: right;
}

.single-article {
    max-width: 700px;
    justify-self: center;

    .article-heading {
        font-size: 2em;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .date-field {
        padding: 5px;
    }
}

.article-excerpt {
    margin: 15px 0;
    width: 50%;
}

.article-comments {
    margin: 15px 0;

    .single-comment {
        margin: 15px 0;
        padding: 5px;
        border-radius: 5px;
        background-color: var(--gray-300);
    }
}

.notice ,.alert {
    @media (max-width: 900px) { 
        display: none;
    }
}

.main-donation-link {
    justify-content: center;
    padding: 5px;
    background-color: var(--gray-300);
    width: 100%;
    display: flex;
}