/*
 *= require font-awesome
 */
/* page wide styles */
a {
    text-decoration: none;
    color: inherit
}

.left {
    max-height: 500px;
    width: 500px;
    margin: 15px;
    display: inline-block;
    border-right: solid 2px black;
}

.main {
    width: 30%;
    display: block;
}

.top-banner {
    display: flex;
    width: 100%;;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    justify-items: center;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 15px;
    h1 {
        margin: 5px;
        background: linear-gradient(90deg, rgba(36,27,0,1) 0%, rgba(222,152,63,1) 22%, rgb(145, 145, 145) 91%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    border-bottom: 5px solid transparent;
    border-image: linear-gradient(90deg, rgba(36, 27, 0, 1) 0%, rgba(222, 152, 63, 1) 22%, rgb(145, 145, 145) 91%);
    border-image-slice: 1;
}

.page {
    background-size: 40px 40px;
    background-position: -19px -19px;
}

.page-articles {
    display: inline-flex;
}
