.related-articles {

    width: 100%;
    @media (width <= 900px) {
        max-width: 370px;
    }
    
    h3 {
        font-size: 1.3em
    }

    .related-articles-list {
        display: flex; /* Makes the list items align horizontally */
        overflow-x: scroll; /* Enables horizontal scrolling */
        gap: 15px; /* Adds spacing between items */
        list-style: none; /* Removes the default dots from list items */
        scrollbar-width: thin; /* Optional: Makes the scrollbar thinner */
        padding-inline-start: 5px;

        article {
            &.thumb {
                width: 100%;
                padding: 5px;
            }

            .article-heading {
                max-height: 35px;
                overflow: scroll;
            }

            .date-author-field {
                padding: 5px 0;

                .date-field, .author-field {
                    padding: 0;
                }
            }
        }
    }
}
