.thumb {
    width: 80%;
    vertical-align: top;
    justify-items: left;
    display: inline-flex;
    border-radius: 5px;
    .image-box {
        flex-basis: fit-content;
        img {
            max-width: 100px;
            max-height: 100px;
        }
    }

    .article-heading {
        font-size: 1rem;
        width: 100%;
        margin-bottom: 5px;
    }

    .text-box {
        margin-left: 15px;
        inline-size: fit-content;
    }

    .date-author-field {
        display: inline-flex;
        font-size: 15px;
    }

    .date-field a {
        margin-right: 5px;
        font-weight: lighter;
    }
    
    .author-box a {
        font-weight: lighter;
    }
}
