@import url(_constants.css);

body {
    font-family: 'Roboto', sans-serif; /* Clean and modern font */
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Vibrant and Bold Style */
h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* White text for contrast */
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    line-height: 1.4;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

h1 {
    text-align: center;
    background-color: var(--background-orange-soft);
    padding: 0.5em;
    border-radius: 5px;
    color: var(--heading-color-h1);
    font-size: var(--heading-color-h1);
}

h2 {
    font-size: 2.2em;
    border-left: 5px solid #3498db;
    padding-left: 0.5em;
    color: var(--heading-color-h2);
    font-size: var(--heading-color-h2);
}

h3 {
    font-size: 1.8em;
    color: var(--heading-color-h3);
    font-size: var(--heading-color-h3);
}

h4 {
    color: var(--heading-color-h4);
    font-size: var(--heading-color-h4);
}

h5 {
    color: var(--heading-color-h5);
    font-size: var(--heading-color-h5);
}

h6 {
    color: var(--heading-color-h6);
    font-size: 1em;
    font-size: var(--heading-color-h6);
}
