<div class="categories-section category-list-view">

	<div class="vertical">
		<% @articles.each do |article| %>
			<%= render partial: "components/full", locals: { article: article, category: false } %>
		<% end %>
	</div>
</div>
