
<div class="category-tab">
    <% cats.each do |category| %>
        <h3 class="<%="category category-heading category-heading-#{category.name}"%>">
            <%= link_to category.name, "/category/#{category.name}", :class => "category-links" %>
        </h3>
    <% end %>
</div>
