<div class="social-networks">
    <ul>
        <li>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <a href="https://www.instagram.com/pixelwave64/">pixelwave64</a>
        </li>
        <li>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <a href="https://www.facebook.com/profile.php?id=61577847925384">PixelWave</a>
        </li>
    </ul>
</div>