<div class="social-networks">
    <ul>
        <li>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <a href="https://www.instagram.com/pixelwave64/">pixelwave64</a>
        </li>
        <li>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <a href="https://adsmanager.facebook.com/adsmanager/manage/all?nav_source=comet&nav_entry_point=comet_bookmark&campaign_id=415838275119884&placement=bkmk_admgr&extra_1=campaign&act=55699202#">PixelWave</a>
        </li>
    </ul>
</div>