<header class="top-banner">
  <a href="/">
    <%= image_tag("pixel-wave-logo-edited.png", :class => "author-image", :alt => "Pixel Wave Logo") %>
  </a>
  <div class="categories-search">
    <%= render partial: "layouts/category-tab", locals: { cats: Category.all } %>
    <%= render "layouts/top-banner/search-bar" %>
  </div>
</header>
