<header class="top-banner">
  <h1>
    <%= link_to "Pixel Wave", "/" %>
  </h1>
  <%= render partial: "layouts/category-tab", locals: { cats: Category.all } %>
  <%= render partial: "layouts/about-us-tab", locals: { cats: Category.all } %>
  <%= render "layouts/top-banner/search-bar" %>
</header>
